main .introduction_about{
    background: url("/images/pexels-tom-fisk-3057960.jpg");
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    padding-bottom: 115px;
    padding-right: 0;
    padding-left: 70px;
}



.introduction_about p{
    color: white;
    margin-left: 130px;
}
.introduction_about .about_us{
    text-transform: capitalize;
    font-size: 0.75rem;
    width: fit-content;
    padding: 6px;
    margin-bottom: 45px;
    margin-right: 30px;
    border-left:  solid 4px #337F38;
    background-color: rgb(51, 59, 60,0.5);
}
.introduction_about .about_us_title{
    font-weight: bold;
    font-size: 3rem;
}

.head_director{
    padding: 25px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.head_director .director img {
    width: 450px;
    height: 420px;
    
}
.head_titles .head_title-1{
    color: black;
    font-size: 0.65rem;
    font-weight: bold;
    width: fit-content;
    padding: 6px;
    padding-right: 65px;
    margin-bottom: 10px;
    margin-right: 30px;
    border-left:  solid 3px #337F38;
    background-color: #F4F4F4;
}

.head_titles .head_title-2{
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

aside{
    padding: 10px 0;
}
aside .head_words-1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
aside .adjusted_text{
    font-size: 0.8rem;
    /* width: 470px; */
    width: 380px;
    text-align: left;
    text-align: justify;
    color: #8D848C;
}
aside .engagment{
    width: fit-content;
    padding: 20px;
    color: white;
    background-color: #307835;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-left: 10px;
}

.about-services{
    width: 100%;
    padding: 50px;
    padding-left: 120px;
    padding-top: 65px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-services .tasks_question{
    text-transform: capitalize;
    font-size: 0.75rem;
    width: fit-content;
    padding: 5px;
    padding-right: 40px;
    margin-bottom: 15px;
    border-left:  solid 4px #337F38;
    background-color: #F3F3F3;
    
}

.about-tasks{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 60px;
    padding-top: 20px;
}
.about-tasks .service_building{
    grid-column: 2/4;
}
/* .service_building .service_adjusted{
    text-wrap: nowrap;
} */
.about-tasks .task_logo img{
    width: 30px;
    margin-bottom: 13px;
}
.about-services .services_title{
    font-weight: 400;
    font-size: 1.3rem;
    position: relative;
    right: 12px;
}
.service_text-2{
    padding: 0;
    max-width: 320px;
    font-size: 0.76rem;
}
.service_1{
    text-transform: uppercase;
    margin-bottom: 13px;
    font-weight: 400;
    width: fit-content;
}
.service_adjusted{
    text-transform: none;
}

.team{
    margin-top: 110px;
    margin-bottom: 30px;
}


.testimony_section{
    background-color: #F3F3F3;
    padding: 65px;
    margin-bottom: 100px;
}
.testimony{
    
    margin: 0 auto;
    width: fit-content;
}
.testimony .testimony_header{
    display: flex;
    flex-direction: column;
}
.testimony .clients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
.testimony .testimony_title{
    text-transform: capitalize;
    font-size: 0.77rem;
    width: fit-content;
    padding: 5px;
    padding-right: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left:  solid 4px #337F38;
    background-color: #EEEEEE;
}
.testimony .client_questions{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.3rem;
}
.testimony .profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.profil .profil_logo{
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 25px;
    border-top-right-radius: 27px;
    position: relative;
}
.profil .profil_logo img{
    width: 40px;
    align-self: center;
    position: relative;
    bottom: 3px;
    left: 0px;
    display: block;
}
.profil .profil_name{
    font-size: 0.75rem;
    font-weight: bold;
}
.profil .profil_profession{
    font-weight: bold;
    font-size: 0.64rem;
}
.testimony  .profil_feedback{
    font-size: 0.85rem;
    font-weight: 350;
}
.testimony .clients .client-1{
    background-color: #F3F3F3;
}
.clients .client-1 .profil_feedback{
    color: #8D848C;
}
.testimony .clients .client-2{
    background-color: #337F38;
}
.clients .client-2 p{
    color: white;
}
.testimony .client_box{
    max-width: 330px;
    height: 300px;
    padding: 30px;
    background-color: #307835;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}
.client_box .profil_evaluation{
    width: 100px;
    margin-top: 75px;
}
.client_box .star_adjusted{
    margin-top: 96px;
}



footer .foot_background{
    background: none;
}
footer .foot_background_about{
    background-color: #F4F4F4;
    height: 100px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    main .introduction_about{
        padding-top: 250px;
        padding-bottom: 250px;
        padding-left: 98px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .introduction_about .about_us_title{
        font-size: 1.1rem;
    }
    .introduction_about p{
        margin-left: 0px;
    }
    

    .head_director{
        padding: 10px;
        padding-right: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .head_director .director{
        width: 100%;
    }
    .head_director .director img {
        width: 99%;
        height: 250px;
        
    }
    .head_titles .head_title-1{
        font-size: 0.6rem;
        
    }
    
    .head_titles .head_title-2{
        font-size: 1.15rem;
    }
    aside .adjusted_text{
        font-size: 0.7rem;
        padding-right: 10px;
        width: 100%;
    }
    aside .engagment{
        font-size: 0.8rem;
        margin-top: 15px;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .about-services{
        padding: 35px 10px;
    }
    .about-tasks{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .about-tasks div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .service_text-2{
        padding: 0;
        max-width: 100%;
        font-size: 0.7rem;
    }
    .service_building{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .task_logo{
        align-items: center;
    }
    .service_1{
        text-align: center;
        width: 100%;
    }
    .tasks_question{
        position: relative;
        left: 11px;
    }
    .services_title{
        left: -1px;
    }

    .testimony_section{
        padding: 40px 10px;
    }
    .testimony .clients{
        padding: 0;
    }
    .testimony .client_box{
        max-width: 100%;
        margin: 0;
        
    }
}





@media screen and (min-width: 768px) and (max-width: 1200px){
    
    main .introduction_about{
        padding-top: 400px;
        padding-bottom: 90px;
    }
    .introduction_about .about_us_title{
        font-size: 3.3rem;
    }
    .introduction_about p{
        margin-left: 160px;
    }
    .introduction_about .about_us{
        font-size: 1rem;
        
    }
    
    .head_director{
        padding: 10px;
        padding-top: 90px;
        padding-bottom: 90px;
        /* padding-right: 0; */
        /* padding: 0; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    .head_titles .head_title-1{
        font-size: 0.65rem;
        
    }
    
    .head_titles .head_title-2{
        font-size: 1.4rem;
    }

    .head_director .director img{
        width: 500px;
    }
    aside{
        align-self: center;
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 750px;
    }
    aside .adjusted_text{
        font-size: 0.8rem;
        padding-right: 10px;
    }
    aside .engagment{
        font-size: 1rem;
    }
    aside .head_titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    aside .head_words-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .about-services .tasks_question{
        font-size: 0.8rem;
    }
    .about-services .services_title{
        font-size: 1.4rem;
    }
    .about-tasks{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        padding-right: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .service_text-2{
        padding: 0;
        max-width: 350px;
        font-size: 0.75rem;
    }
    .service_1{
        font-size: 1.1rem;
        width: 250px;
    }
    .about-services{
        padding-left: 160px;
        padding-bottom: 130px;
        padding-right: 0;
    }
    .task_adjusted{
        position: relative;
        top: 6px;
    }
    .about-tasks .task_logo img{
        width: 40px;
        margin-bottom: 13px;
    }
    .about-services .tasks_question{
        position: relative;
        right: 8px;
    }
    .about-services .services_title{
        position: relative;
        right: 23px;
    }

    .testimony .testimony_title{
        font-size: 0.95rem;
        font-weight: 300;
        padding-left: 25px;
    }
    .testimony .client_questions{
        font-size: 1.5rem;
    }
    .profil .profil_name{
        font-size: 0.9rem;
    }
    .profil .profil_profession{
        font-size: 0.6rem;
    }
    .testimony  .profil_feedback{
        font-size: 0.9rem;
        font-weight: 350;
    }
    .testimony .client_box{
        height: auto;
    }
    .client_box .star_adjusted{
        margin-top: 130px;
    }
    /* .testimony_section{
        padding: 80px 100px;
    } */
    
}

/* @media screen and (width: 820px) and (max-width: 829px){
    .about-tasks{
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap; 
        width: 100%;
        gap: 50px;
        grid-column: 1fr 1fr;
        border: 1px solid red;
    }
} */